<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Basics" version="1.1.7-pre" targetFramework="net46" />
  <package id="Basics.Domain" version="1.1.6-pre" targetFramework="net46" />
  <package id="Basics.Testing.Xunit" version="1.1.7-pre" targetFramework="net46" />
  <package id="FullStackTraining.CallMeBack.Domain" version="1.0.17-pre" targetFramework="net46" />
  <package id="FullStackTraining.CallMeBack.Domain.Contracts" version="1.0.17-pre" targetFramework="net46" />
  <package id="NodaTime" version="1.3.2" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
</packages>